server.port: ${PORT:8080}
springdoc:
    api-docs.path: /docs
    swagger-ui.path: /docs-ui
pdf-generator:
    temp-dir: ./data/temp-pdfs
object-storage:
    endpoint: ${OBJECT_STORAGE_ENDPOINT:http://vom-assistant.hopto.org:9000}
    clientKey: ${OBJECT_STORAGE_CLIENT_KEY:demo}
    clientSecret: ${OBJECT_STORAGE_CLIENT_SECRET:demo!123}
    defaultBucket: ${OBJECT_STORAGE_CLIENT_DEFAULT_BUCKET:generated-pdfs}
templates:
    storage:
        bucket: templates
        key-prefix: main
        keyPrefixTemplate: false
    test-storage:
        bucket: templates
        key-prefix: test
        keyPrefixTemplate: false